*{
    margin: 0;
    padding: 0;
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#personagem{
    width: 20px;
    height: 50px;
 
    position: relative;
    top: 150px;
    
}

.animar{
    animation: personagem 2000ms infinite;
}

@keyframes personagem{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#quadrado{
    width: 20px;
    height: 70px;
    
    position: relative;   
    top: 130px;
    left: 480px;
    animation: quadrado 5s infinite linear;
}

@keyframes quadrado{
    0%{left: 480px;}
    100%{left: -40px;}
}